@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  /* font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif; */

  /* Theme colors */
  --logo-main: #2C67A0;

  /* Standard heights */
  --header-height: 12vh;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
  height: 100%;
}

/* #region Fonts */

@font-face {
  font-family: "MixtaSharpAlt";
  src: url('/fonts/MixtaSharpAltRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MixtaSharpAlt";
  src: url('/fonts/MixtaSharpAltBold.otf') format('opentype'); 
  font-weight: 700;
  font-style: normal;
}

/* #endregion Fonts */

img {
  max-width: 100%;
  max-height: 100%;
}

.hero {
  height: 88vh;
  background-image: url("/gruppo-3.jpeg");
  background-repeat: no-repeat;
  background-position: top;
  overflow: hidden;
}

/* #region ReviewsSection */

.swiper-container {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.swiper-slide-custom {
  background-color: #2c67a09c;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 1rem;
  overflow: hidden;
  padding: 1rem;
  MIN-height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.25rem;
}

.swiper-pagination {
  position: static !important;
  margin-top: .5rem;
}

.review-star {
  width: 18px;
}

.full-star {
  color: oklch(85.2% 0.199 91.936);
}

.empty-star {
  color: oklch(87.2% 0.01 258.338);
}

.review-text {
  padding-inline: .5rem;
  margin-bottom: 1rem;
  color: #374151;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.google-review-pill {
  background-color: #fff;
  border-radius: 2.75rem;
  margin-inline: 1rem;
  padding-block: .55rem;
  padding-inline: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.review-stars {
  display: flex;
  margin-top: .15rem;
}

.review-author-name {
  text-align: end;
}

.google-logo {
  max-width: 35px;
}

.prev-btn {
  height: 60px;
  font-size: xx-large;
  background-color: var(--logo-main);
  border-radius: 100%;
  color: #fff;
}

.next-btn {
  height: 60px;
  font-size: xx-large;
  background-color: var(--logo-main);
  border-radius: 100%;
  color: #fff;
}

.all-reviews {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.all-reviews button {
  padding: 1rem;
  color: #fff;
  background: var(--logo-main);
  border-radius: 1.75rem;
}

/* #endregion ReviewsSection */


/* #region ServicesPreview */

  /* #region HexCard */

  .hex-container {
    width: 10rem;
    height: 11rem;
    position: relative;
  }

  .hex-container:hover {
    .hex-shape {
      transform: scale(1.05);
    }
  }

  .hex-shape {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  .hex-overlay {
    position: absolute;
    inset: 0px;
    background-color: var(--logo-main);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-inline: .5rem;
  }

  .hex-title {
    color: #fff;
    font-family: "MixtaSharpAlt";
    font-weight: 700;
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem
  }

  /* #endregion HexCard */

  /* #region ServicesPreviewSection */

  .hex-grid {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .hex-row {
    display: flex;
    gap: 1rem;
  }
  
  .hex-row-offset {
    margin-left: 5rem;
  }

  /* #endregion ServicesPreviewSection */

/* #endregion ServicesPreview */

a:link,
a:link:active,
a:visited,
a:visited:active {
  color: var(--logo-main);
}

/* #region Navbar */


/* #endregion Navbar */




@media (min-width: 768px) {
    .hex-grid {
        display: flex;
    }
}